@model QuestionReaction.Web.Models.VoteVM
@{
    ViewData["Title"] = "Vote - " + @Model.Question.Title;
}


<div class="row">
    <div class="col-2"></div>
    <div class=" col-8 text-center">
        <h1 class="display-4_5">@Model.Question.Title</h1>
    </div>
    <div class="col-2 text-right align-text-bottom">
        <label class="display-6">@Model.VoteNumber <img src="~/lib/ressources/user.png" class="img-icon-size" /></label>
    </div>
</div>

<hr />

<div class="col-6 m-auto justify-content-around">
    <p>@Model.Question.Description</p>
    <hr />
    <form asp-action=Vote method="post">
        <div class="form-group">
            @foreach (var choice in Model.Question.Choices)
            {
                <div class="form-check form-row">
                    @if (Model.Question.MultipleChoices)
                    {
                        <input class="form-check-input" type="checkbox" name="SelectedChoices" value="@choice.Id" id="@choice.Id">
                    }
                    else
                    {
                        <input class="form-check-input" type="radio" name="SelectedChoices" value="@choice.Id" id="@choice.Id">
                    }
                    <label class="form-check-label" for="@choice.Id">@choice.Content</label>
                </div>
            }
        </div>
        <br />
        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-success btn-lg ml-auto">Valider</button>
        </div>
    </form>
</div>
